{% extends "base.html" %}
{% block content %}
<!-- Complete card -->
<form action="/data_uploader" class="form-horizontal" method="post" enctype="multipart/form-data" role="form">
    <div class="card">
        <h3 class="card-title">New import report </h3>
        {% for m in messages %}
        <div class="row form-group" style="margin: 10px">
            <label class="control-label col-md-4">{{m['message']}}</label>
            {% if m['type'] == 'inputText' %}
            <input class="controls input-md col-md-8 form-control" style="margin-bottom: 10px" id="{{ m['id'] }}" name="{{ m['name'] }}" type="text">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row" style="margin-top: 1em;">
        <button type="submit" class="btn btn-default btn-lg btn-block">Confirm</button>
    </div>
</form>
{% endblock %}